trigger:
  branches:
    include:
      - main              # Trigger the pipeline on changes to the 'main' branch
      - refs/pull/*/merge # Also trigger on pull request merge refs (PR validation builds)
  paths:
    include:
      - environments/**/* # Only trigger the pipeline if changes occur under the 'environments' directory

resources:
  repositories:
    - repository: partner-cicd-yaml-guard # External repository alias used for templates
      type: git                           # Type is a Git repository  
      name: partner-cicd-yaml-guard       # Name of the external repository (as defined in Azure DevOps)
      ref: refs/heads/main                # Use the 'main' branch of the external repository
    - repository: environments            # Local or secondary repo checked out for validation
      type: git
      name: environments                  # Name of the repository
      ref: master                         # Use the 'master' branch of the environments repo


variables:  
  # Library pwa-build-configuration is provided by Intershops DevOps Environment. It provides
  - group: pwa-build-configuration        # Import variable group which contains shared pipeline variables

stages:
- stage: Lint  # Define a stage named 'Lint'
  displayName: "YAML Lint Check" # Display name for UI readability
  jobs:
    - template: lint-yaml-template.yml@partner-cicd-yaml-guard
      parameters:
        targetFolder: "environments"                 # The folder to be scanned for YAML files
        yamlinterImage: "intershophub/yaml-guard"    # The Docker image used for linting
        yamlinterImageTag: "latest"                  # The image tag to pull from DockerHub
        agentPool: $(BUILD_AGENT_POOL)               # Agent pool used, resolved from variable group
        dockerhubLogin: false                        # No DockerHub login is required (public image assumed)
